{ns hl7-fhir-uv-extensions-r5.additionalIdentifier,
 import #{zen.fhir hl7-fhir-r5-core.Identifier},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "An additional identifier for the target resource. This is used when there is no way to reference the other resource directly, either because the entity it represents is not available through a FHIR server, or because there is no way for the author of the resource to convert a known identifier to an actual location. There is no requirement that a Reference.identifier point to something that is actually exposed as a FHIR instance, but it SHALL point to a business concept that would be expected to be exposed as a FHIR instance, and that instance would need to be of a FHIR resource type allowed by the reference.",
         :zen.fhir/type "Identifier",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/additionalIdentifier",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r5-core.Identifier/schema}}}
