{ns hl7-fhir-uv-extensions-r5.allergyintolerance-certainty,
 import #{zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-uv-extensions-r5.value-set.reaction-event-certainty},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Statement about the degree of clinical certainty that the specific substance was the cause of the manifestation in this reaction event.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/allergyintolerance-certainty",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.reaction-event-certainty/value-set,
                              :strength :extensible}}}
