{ns hl7-fhir-uv-extensions-r5.alternate-reference,
 import #{zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Used when the target of the reference has a type that is not allowed by the definition of the element. In general, this should only arise when wrangling between versions using cross-version extensions.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/alternate-reference",
         :zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{}}}}
