{ns hl7-fhir-uv-extensions-r5.artifact-author,
 import #{zen.fhir hl7-fhir-r5-core.ContactDetail},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "An individiual or organization primarily involved in the creation and maintenance of the {{title}}.",
         :zen.fhir/type "ContactDetail",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-author",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.ContactDetail/schema}}}
