{ns hl7-fhir-uv-extensions-r5.artifact-name,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A natural language name identifying the {{title}}. This name should be usable as an identifier for the module by machine processing applications such as code generation.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-name",
         :zen.fhir/version "0.6.30-1",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
