{ns hl7-fhir-uv-extensions-r5.artifact-copyrightLabel,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A short string (<50 characters), suitable for inclusion in a page footer that identifies the copyright holder, effective period, and optionally whether rights are resctricted. (e.g. 'All rights reserved', 'Some rights reserved').",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-copyrightLabel",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
