{ns hl7-fhir-uv-extensions-r5.artifact-knowledgeRepresentationLevel,
 import #{zen.fhir
          hl7-fhir-r5-core.value-set.knowledge-representation-level
          hl7-fhir-r5-core.code},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Defines a knowledge representation level provided by this knowledge artifact.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-knowledgeRepresentationLevel",
         :zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.knowledge-representation-level/value-set,
                              :strength :required}}}
