{ns hl7-fhir-uv-extensions-r5.artifact-reviewer,
 import #{zen.fhir hl7-fhir-r5-core.ContactDetail},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "An individual or organization primarily responsible for review of some aspect of the {{title}}.",
         :zen.fhir/type "ContactDetail",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-reviewer",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.ContactDetail/schema}}}
