{ns hl7-fhir-uv-extensions-r5.artifact-contact,
 import #{zen.fhir hl7-fhir-r5-core.ContactDetail},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Contact details to assist a user in finding and communicating with the publisher.",
         :zen.fhir/type "ContactDetail",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-contact",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r5-core.ContactDetail/schema}}}
