{ns hl7-fhir-uv-extensions-r5.artifact-contactDetailReference,
 import #{zen.fhir
          hl7-fhir-r5-core.Practitioner
          hl7-fhir-r5-core.Organization
          hl7-fhir-r5-core.RelatedPerson
          hl7-fhir-r5-core.PractitionerRole
          hl7-fhir-r5-core.Patient},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A reference to a resource that is a more detailed representation of the contact detail information.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-contactDetailReference",
         :zen.fhir/version "0.6.24",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Patient/schema
                                        hl7-fhir-r5-core.PractitionerRole/schema
                                        hl7-fhir-r5-core.Organization/schema
                                        hl7-fhir-r5-core.Practitioner/schema
                                        hl7-fhir-r5-core.RelatedPerson/schema}}}}
