{ns hl7-fhir-uv-extensions-r5.artifact-date,
 import #{zen.fhir hl7-fhir-r5-core.dateTime},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The date  (and optionally time) when the {{title}} was last significantly changed. The date must change when the business version changes and it must change if the status code changes. In addition, it should change when the substantive content of the {{title}} changes.",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-date",
         :zen.fhir/version "0.6.42",
         :confirms #{hl7-fhir-r5-core.dateTime/schema}}}
