{ns hl7-fhir-uv-extensions-r5.artifact-url,
 import #{zen.fhir hl7-fhir-r5-core.uri},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "An absolute URI that is used to identify this {{title}} when it is referenced in a specification, model, design or an instance; also called its canonical identifier. This SHOULD be globally unique and SHOULD be a literal address at which an authoritative instance of this {{title}} is (or will be) published. This URL can be the target of a canonical reference. It SHALL remain the same when the {{title}} is stored on different servers.",
         :zen.fhir/type "uri",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-url",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r5-core.uri/schema}}}
