{ns hl7-fhir-uv-extensions-r5.artifact-description,
 import #{hl7-fhir-r5-core.markdown zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A free text natural language description of the {{title}} from a consumer's perspective.",
         :zen.fhir/type "markdown",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/artifact-description",
         :zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r5-core.markdown/schema}}}
