{ns hl7-fhir-uv-extensions-r5.auditevent-Encrypted,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "True or False indicating whether the data was encrypted.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/auditevent-Encrypted",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
