{ns hl7-fhir-uv-extensions-r5.canonicalresource-short-description,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A single paragraph plain string short description alternative to CanonicalResource.description for display in lists etc.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/canonicalresource-short-description",
         :zen.fhir/version "0.6.30-1",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
