{ns hl7-fhir-uv-extensions-r5.capabilitystatement-search-parameter-use,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen.fhir/version "0.6.29-22",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/capabilitystatement-search-parameter-use",
         :require #{:allow-include :allow-revinclude :required},
         :type zen/map,
         :zen/desc "This extension defines if a search parameter is only allowed in certain contexts",
         :keys {:required {:confirms #{hl7-fhir-r5-core.boolean/schema},
                           :zen/desc "If this search parameter can use used in standalone search."},
                :allow-include {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                :zen/desc "If this search parameter can use used in _include search."},
                :allow-revinclude {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                   :zen/desc "If this search parameter can use used in _revinclude search."}}}}
