{ns hl7-fhir-uv-extensions-r5.capabilitystatement-declared-profile,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "This extension identifies a profile the system will recognize if it is declared in [`meta.profile`](resource.html#profile-tags). If the system supports the [`_profile`](search.html#profile) search parameter, it will be capable of searching on the profile. The system may support validation against the profile.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/capabilitystatement-declared-profile",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
