{ns hl7-fhir-uv-extensions-r5.citation-societyAffiliation,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A society affiliation for the venue (publication form) that the cited artifact is cited in.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/citation-societyAffiliation",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
