{ns hl7-fhir-uv-extensions-r5.codesystem-otherName,
 import #{hl7-fhir-r5-core.boolean zen.fhir hl7-fhir-r5-core.string},
 schema {:zen.fhir/version "0.6.42",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/codesystem-otherName",
         :require #{:name},
         :type zen/map,
         :zen/desc "Human readable names for the codesystem.",
         :keys {:name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :zen/desc "Human readable, short and specific"},
                :preferred {:confirms #{hl7-fhir-r5-core.boolean/schema},
                            :zen/desc "Which name is preferred for this language"}}}}
