{ns hl7-fhir-uv-extensions-r5.codesystem-use-markdown,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "If true, the definitions of the concepts can be treated and rendered as markdown for improved presentation.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/codesystem-use-markdown",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
