{ns hl7-fhir-uv-extensions-r5.coding-purpose,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r5.value-set.coding-purpose
          hl7-fhir-r5-core.Coding},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A reason that this coding is present.",
         :zen.fhir/type "Coding",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/coding-purpose",
         :zen.fhir/version "0.6.30",
         :confirms #{hl7-fhir-r5-core.Coding/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.coding-purpose/value-set,
                              :strength :extensible}}}
