{ns hl7-fhir-uv-extensions-r5.condition-reviewed,
 import #{zen.fhir hl7-fhir-r5-core.dateTime},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The date on which the clinician indicates that the condition has been reviewed",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/condition-reviewed",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.dateTime/schema}}}
