{ns hl7-fhir-uv-extensions-r5.consent-Witness,
 import #{zen.fhir
          hl7-fhir-r5-core.Practitioner
          hl7-fhir-r5-core.Organization
          hl7-fhir-r5-core.RelatedPerson
          hl7-fhir-r5-core.Patient},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Any witness to the consent.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/consent-Witness",
         :zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Patient/schema
                                        hl7-fhir-r5-core.Organization/schema
                                        hl7-fhir-r5-core.Practitioner/schema
                                        hl7-fhir-r5-core.RelatedPerson/schema}}}}
