{ns hl7-fhir-uv-extensions-r5.cqf-logicDefinition,
 import #{zen.fhir hl7-fhir-r5-core.string hl7-fhir-r5-core.integer},
 schema {:zen.fhir/version "0.6.30-14",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqf-logicDefinition",
         :require #{:statement :name :libraryName},
         :type zen/map,
         :zen/desc "Represents a specific logic definition used by the artifact.",
         :keys {:libraryName {:confirms #{hl7-fhir-r5-core.string/schema},
                              :zen/desc "Which library"},
                :name {:confirms #{hl7-fhir-r5-core.string/schema},
                       :zen/desc "Which definition"},
                :statement {:confirms #{hl7-fhir-r5-core.string/schema},
                            :zen/desc "Complete declaration statement"},
                :displayCategory {:confirms #{hl7-fhir-r5-core.string/schema},
                                  :zen/desc "What category?"},
                :displaySequence {:confirms #{hl7-fhir-r5-core.integer/schema},
                                  :zen/desc "What order?"}}}}
