{ns hl7-fhir-uv-extensions-r5.cqf-library,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A reference to a Library containing the formal logic used by the artifact.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqf-library",
         :zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
