{ns hl7-fhir-uv-extensions-r5.cqf-contributionTime,
 import #{zen.fhir hl7-fhir-r5-core.dateTime},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "When the contribution was made by this contributor.",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqf-contributionTime",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r5-core.dateTime/schema}}}
