{ns hl7-fhir-uv-extensions-r5.cqf-isPrefetchToken,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Allows an indication of whether this parameter can be used to parameterize prefetch templates (i.e. queries that can be used to identify data-of-interest to be sent as part of a triggered request.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqf-isPrefetchToken",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
