{ns hl7-fhir-uv-extensions-r5.derivation-reference,
 import #{zen.fhir
          hl7-fhir-r5-core.string
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.integer},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "References a location within a set of source text from which the discrete information described by this Resource/Element was extracted.",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/derivation-reference",
         :zen.fhir/version "0.6.21-2",
         :type zen/map,
         :keys {:reference {:confirms #{hl7-fhir-r5-core.Reference/schema
                                        zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{}},
                            :zen/desc "Source reference."},
                :path {:confirms #{hl7-fhir-r5-core.string/schema},
                       :zen/desc "Element containing text."},
                :offset {:confirms #{hl7-fhir-r5-core.integer/schema},
                         :zen/desc "Starting position."},
                :length {:confirms #{hl7-fhir-r5-core.integer/schema},
                         :zen/desc "Number of characters."}}}}
