{ns hl7-fhir-uv-extensions-r5.device-maintenanceresponsibility,
 import #{zen.fhir
          hl7-fhir-r5-core.Organization
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.Person},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension containing the information about the person and/or organization responsible for the maintenance of the device.",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/device-maintenanceresponsibility",
         :zen.fhir/version "0.6.42",
         :type zen/map,
         :keys {:person {:confirms #{hl7-fhir-r5-core.Reference/schema
                                     zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Person/schema}},
                         :zen/desc "Responsible individual"},
                :organization {:confirms #{hl7-fhir-r5-core.Reference/schema
                                           zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Organization/schema}},
                               :zen/desc "Responsible organization"}}}}
