{ns hl7-fhir-uv-extensions-r5.documentreference-sourcepatient,
 import #{zen.fhir hl7-fhir-r5-core.Patient},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The Patient Information as known when the document was published. May be a reference to a version specific, or contained.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/documentreference-sourcepatient",
         :zen.fhir/version "0.6.31",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Patient/schema}}}}
