{ns hl7-fhir-uv-extensions-r5.elementdefinition-suppress,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "If the extension is present on one of the named properties in a differential, the element property should be removed from the the corresponding snapshot.element during snapshot generation.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/elementdefinition-suppress",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
