{ns hl7-fhir-uv-extensions-r5.elementdefinition-defaulttype,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The default type that applies if the instance doesn't specify a particular type, and there is a choice of types.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/elementdefinition-defaulttype",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
