{ns hl7-fhir-uv-extensions-r5.elementdefinition-conceptmap,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "This extension references a ConceptMap that maps to relevant terminologies used in an implementation.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/elementdefinition-conceptmap",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
