{ns hl7-fhir-uv-extensions-r5.elementdefinition-maxValueSet,
 import #{zen.fhir hl7-fhir-r5-core.canonical hl7-fhir-r5-core.uri},
 schema {:fhir/polymorphic true,
         :zen.fhir/version "0.6.21-2",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/elementdefinition-maxValueSet",
         :type zen/map,
         :zen/desc "This acts as an overall 'required' binding for an element that already has a less restrictive binding.  It is used when there is a desire to have a 'small' enumerable binding that meets most needs and where the overall value set that the codes must be drawn from is 'infinite'.  The the base less restrictive binding SHALL be a proper subset of the max binding valueset.  In most cases, this extension is used where the base binding is 'extensible'.",
         :keys {:uri {:confirms #{hl7-fhir-r5-core.uri/schema}},
                :canonical {:confirms #{hl7-fhir-r5-core.canonical/schema}}},
         :exclusive-keys #{#{:canonical :uri}}}}
