{ns hl7-fhir-uv-extensions-r5.elementdefinition-pattern,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A pattern that all the target resources follow - that is, a pattern that they all declare their relationship to.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/elementdefinition-pattern",
         :zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
