{ns hl7-fhir-uv-extensions-r5.event-performerFunction,
 import #{zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-r5-core.value-set.performer-function},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Distinguishes the type of involvement of the performer in the event. For example, 'author',  'verifier' or 'responsible party'.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/event-performerFunction",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.performer-function/value-set,
                              :strength :extensible}}}
