{ns hl7-fhir-uv-extensions-r5.humanname-assembly-order,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r5.value-set.name-assembly-order
          hl7-fhir-r5-core.code},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A code that represents the preferred display order of the components of this human name.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/humanname-assembly-order",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.name-assembly-order/value-set,
                              :strength :required}}}
