{ns hl7-fhir-uv-extensions-r5.identifier-checkDigit,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "allow for a check digit and a check digit scheme to be conveyed as part of Identifier. The rules of the ID Type determine if the check digit is part of the ID value or sent separately.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/identifier-checkDigit",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
