{ns hl7-fhir-uv-extensions-r5.immunization-procedure,
 import #{hl7-fhir-r5-core.CodeableReference zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A record of the procedure associated with the immunization event.",
         :zen.fhir/type "CodeableReference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/immunization-procedure",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r5-core.CodeableReference/schema}}}
