{ns hl7-fhir-uv-extensions-r5.iso21090-TEL-address,
 import #{zen.fhir hl7-fhir-r5-core.url},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A V3 compliant, RFC 3966 conformant URI version of the telephone or fax number.",
         :zen.fhir/type "url",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/iso21090-TEL-address",
         :zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r5-core.url/schema}}}
