{ns hl7-fhir-uv-extensions-r5.iso21090-uncertaintyType,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r5.value-set.probability-distribution-type
          hl7-fhir-r5-core.code},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A code specifying the type of probability distribution for the uncertainty.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/iso21090-uncertaintyType",
         :zen.fhir/version "0.6.31",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.probability-distribution-type/value-set,
                              :strength :required}}}
