{ns hl7-fhir-uv-extensions-r5.language,
 import #{zen.fhir
          hl7-fhir-r5-core.code
          hl7-fhir-r5-core.value-set.languages},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The Human Language of the item.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/language",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.languages/value-set,
                              :strength :preferred}}}
