{ns hl7-fhir-uv-extensions-r5.largeValue,
 import #{hl7-fhir-r5-core.decimal zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The value of an integer that exceeds the bounds of the base int type.",
         :zen.fhir/type "decimal",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/largeValue",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r5-core.decimal/schema}}}
