{ns hl7-fhir-uv-extensions-r5.lastSourceSync,
 import #{zen.fhir hl7-fhir-r5-core.dateTime},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Indicates when the data was last accessed from its original source.",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/lastSourceSync",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.dateTime/schema}}}
