{ns hl7-fhir-uv-extensions-r5.match-grade,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r5.value-set.match-grade
          hl7-fhir-r5-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Assessment of resource match outcome - how likely this resource is to be a match.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/match-grade",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.match-grade/value-set,
                              :strength :required}}}
