{ns hl7-fhir-uv-extensions-r5.metadataresource-publish-date,
 import #{zen.fhir hl7-fhir-r5-core.date},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The date this artifact was first published.",
         :zen.fhir/type "date",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/metadataresource-publish-date",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r5-core.date/schema}}}
