{ns hl7-fhir-uv-extensions-r5.mimeType,
 import #{zen.fhir
          hl7-fhir-r5-core.value-set.mimetypes
          hl7-fhir-r5-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Identifies the kind(s) of attachment allowed to be sent for an element.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/mimeType",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r5-core.value-set.mimetypes/value-set,
                              :strength :required}}}
