{ns hl7-fhir-uv-extensions-r5.namingsystem-checkDigit,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "allow for a check digit and a check digit scheme to be conveyed as part of Naming System.    The rules of the ID Type determine if the check digit is part of the ID value or sent    separately.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/namingsystem-checkDigit",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
