{ns hl7-fhir-uv-extensions-r5.narrativeLink,
 import #{zen.fhir hl7-fhir-r5-core.url},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A human language representation of the concept (resource/element), as a url that is a reference to a portion of the narrative of a resource ([DomainResource.text](narrative.html) or or [Composition.section.text](composition-definitions.html#Composition.section.text)).",
         :zen.fhir/type "url",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/narrativeLink",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.url/schema}}}
