{ns hl7-fhir-uv-extensions-r5.no-fixed-address,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "This extension applies to the Address data type and is used to indicate that a location address is not a fixed address for an individual.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/no-fixed-address",
         :zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
