{ns hl7-fhir-uv-extensions-r5.operationoutcome-issue-source,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies the logical module/software section responsible for identifying the issue",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/operationoutcome-issue-source",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
