{ns hl7-fhir-uv-extensions-r5.operationoutcome-message-id,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Identifies the id of the source message used to construct the actual error message",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/operationoutcome-message-id",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
