{ns hl7-fhir-uv-extensions-r5.operationoutcome-file,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies the source file where the issue is found (when there are multiple source files)",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/operationoutcome-file",
         :zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
