{ns hl7-fhir-uv-extensions-r5.patient-cadavericDonor,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Flag indicating whether the patient authorized the donation of body parts after death.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/patient-cadavericDonor",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
