{ns hl7-fhir-uv-extensions-r5.practitioner-animalSpecies,
 import #{zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-uv-extensions-r5.value-set.animal-species},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "This extension should be used to specifiy that a practitioner or RelatedPerson resource is a service animal.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/practitioner-animalSpecies",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.animal-species/value-set,
                              :strength :example}}}
