{ns hl7-fhir-uv-extensions-r5.questionnaire-referenceFilter,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies a filter to apply when looking up candidate answers for the question.  **This extension has been replaced by the Structured Data Capture candidateExpression extension.**",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-referenceFilter",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
