{ns hl7-fhir-uv-extensions-r5.questionnaire-definitionBased,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "If true, indicates that the Questionnaire relies on metadata from the ElementDefinitions referenced by item.definition and that rendering or validating the Questionnaire is likely to be unsafe if the system isn't capable of resolving the definition and using the metadata found there.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-definitionBased",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
