{ns hl7-fhir-uv-extensions-r5.questionnaireresponse-reviewer,
 import #{zen.fhir hl7-fhir-r5-core.Practitioner},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Individual responsible for ensuring that the questionnaire response have been completed appropriately and signs off on the content.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaireresponse-reviewer",
         :zen.fhir/version "0.6.21-2",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Practitioner/schema}}}}
