{ns hl7-fhir-uv-extensions-r5.questionnaire-optionExclusive,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "If true, indicates that if this answerOption is selected, no other possible answers may be selected, even if the item is a repeating question.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-optionExclusive",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
