{ns hl7-fhir-uv-extensions-r5.questionnaireresponse-author,
 import #{zen.fhir
          hl7-fhir-r5-core.Practitioner
          hl7-fhir-r5-core.Device
          hl7-fhir-r5-core.Organization
          hl7-fhir-r5-core.RelatedPerson
          hl7-fhir-r5-core.PractitionerRole
          hl7-fhir-r5-core.Patient},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Allows capturing, on a specific question or group of questions, exactly who was responsible for providing the answer(s).",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaireresponse-author",
         :zen.fhir/version "0.6.27",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.Patient/schema
                                        hl7-fhir-r5-core.PractitionerRole/schema
                                        hl7-fhir-r5-core.Organization/schema
                                        hl7-fhir-r5-core.Device/schema
                                        hl7-fhir-r5-core.Practitioner/schema
                                        hl7-fhir-r5-core.RelatedPerson/schema}}}}
