{ns hl7-fhir-uv-extensions-r5.questionnaire-derivationType,
 import #{zen.fhir
          hl7-fhir-r5-core.CodeableConcept
          hl7-fhir-uv-extensions-r5.value-set.questionnaire-derivationType},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Provides more precision about the type of derivation relationship that exists.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-derivationType",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r5-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.questionnaire-derivationType/value-set,
                              :strength :extensible}}}
