{ns hl7-fhir-uv-extensions-r5.researchStudy-siteRecruitment,
 import #{hl7-fhir-r5-core.markdown
          zen.fhir
          hl7-fhir-r5-core.unsignedInt},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Target and actual numbers of sites for a study.",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/researchStudy-siteRecruitment",
         :zen.fhir/version "0.6.30",
         :type zen/map,
         :keys {:targetNumber {:confirms #{hl7-fhir-r5-core.unsignedInt/schema},
                               :zen/desc "The desired number of sites"},
                :actualNumber {:confirms #{hl7-fhir-r5-core.unsignedInt/schema},
                               :zen/desc "The actual number of sites"},
                :eligibility {:confirms #{hl7-fhir-r5-core.markdown/schema},
                              :zen/desc "Inclusion and exclusion criteria"}}}}
