{ns hl7-fhir-uv-extensions-r5.satisfies-requirement,
 import #{zen.fhir hl7-fhir-r5-core.canonical hl7-fhir-r5-core.id},
 schema {:zen.fhir/version "0.6.31",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/satisfies-requirement",
         :require #{:key :reference},
         :type zen/map,
         :zen/desc "References a requirement that this element satisfies.",
         :keys {:reference {:confirms #{hl7-fhir-r5-core.canonical/schema},
                            :zen/desc "Source reference."},
                :key {:type zen/vector,
                      :every {:confirms #{hl7-fhir-r5-core.id/schema},
                              :zen/desc "Key that identifies requirement."},
                      :minItems 1}}}}
