{ns hl7-fhir-uv-extensions-r5.specimen-isDryWeight,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "If the recorded quantity of the specimen is reported as a weight, if it is a dry weight.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/specimen-isDryWeight",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
