{ns hl7-fhir-uv-extensions-r5.structuredefinition-standards-status-reason,
 import #{hl7-fhir-r5-core.markdown zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The Current HL7 ballot/Standards status of this artifact.",
         :zen.fhir/type "markdown",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status-reason",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r5-core.markdown/schema}}}
