{ns hl7-fhir-uv-extensions-r5.structuredefinition-inheritance-control,
 import #{zen.fhir
          hl7-fhir-r5-core.code
          hl7-fhir-uv-extensions-r5.value-set.inheritance-control-code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A code that controls how an extension is treated when snapshots are generated",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-inheritance-control",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r5-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.inheritance-control-code/value-set,
                              :strength :required}}}
