{ns hl7-fhir-uv-extensions-r5.structuredefinition-imposeProfile,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Instances can only be valid against this profile, if they also successfully validate against the profile referenced by this extension.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-imposeProfile",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
