{ns hl7-fhir-uv-extensions-r5.structuredefinition-interface,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Marks that the resource definition represents an [interface](uml.html#interface) rather than a resource.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-interface",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
