{ns hl7-fhir-uv-extensions-r5.subscription-best-effort,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "If true, indicates the channel should be treated as though it is using a non-guaranteed delivery mechanism, effectively labeling the subscription as 'best effort'.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/subscription-best-effort",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
