{ns hl7-fhir-uv-extensions-r5.terminology-resource-identifier-metadata,
 import #{hl7-fhir-r5-core.boolean zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Additional metadata in identifier elements for terminology resources.",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/terminology-resource-identifier-metadata",
         :zen.fhir/version "0.6.24",
         :type zen/map,
         :keys {:preferred {:confirms #{hl7-fhir-r5-core.boolean/schema},
                            :zen/desc "Whether this an identifier that should be used"},
                :authoritative {:confirms #{hl7-fhir-r5-core.boolean/schema},
                                :zen/desc "Whether this identifier is considered to be authoritative"},
                :comment {:confirms #{hl7-fhir-r5-core.string/schema},
                          :zen/desc "Text to explain the use of the additional metadata values."}}}}
