{ns hl7-fhir-uv-extensions-r5.valueset-compose-createdBy,
 import #{zen.fhir hl7-fhir-r5-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "User who created the compose for the ValueSet.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/valueset-compose-createdBy",
         :zen.fhir/version "0.6.42",
         :confirms #{hl7-fhir-r5-core.string/schema}}}
