{ns hl7-fhir-uv-extensions-r5.valueset-deprecated,
 import #{hl7-fhir-r5-core.boolean zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "if true, indicates that the concept is deprecated from the value set - that is, it should not be used, and is planned to be withdrawn.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/valueset-deprecated",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r5-core.boolean/schema}}}
