{ns hl7-fhir-uv-extensions-r5.workflow-releaseDate,
 import #{zen.fhir hl7-fhir-r5-core.dateTime},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Indicates the date on which request or event resource that has a status of 'on-hold' or 'suspended' should be moved back to an active state.",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-releaseDate",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r5-core.dateTime/schema}}}
