{ns hl7-fhir-uv-extensions-r5.workflow-episodeOfCare,
 import #{hl7-fhir-r5-core.EpisodeOfCare zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies the episode(s) of care that this resource is relevant to.  Establishes the EpisodeOfCare as a 'grouper' of resources that are relevant to that episode.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare",
         :zen.fhir/version "0.6.29-22",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r5-core.EpisodeOfCare/schema}}}}
