{ns hl7-fhir-uv-extensions-r5.workflow-generatedFrom,
 import #{zen.fhir hl7-fhir-r5-core.canonical},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "This artifact was algorithmically produced by applying the referenced artifact to the context relevant for this request.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-generatedFrom",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r5-core.canonical/schema}}}
