{ns hl7-fhir-uv-extensions-r5.workflow-adheresTo,
 import #{hl7-fhir-r5-core.PlanDefinition
          zen.fhir
          hl7-fhir-r5-core.ActivityDefinition
          hl7-fhir-r5-core.OperationDefinition
          hl7-fhir-r5-core.Questionnaire
          hl7-fhir-r5-core.Measure
          hl7-fhir-r5-core.Reference
          hl7-fhir-r5-core.canonical
          hl7-fhir-r5-core.uri},
 schema {:fhir/polymorphic true,
         :zen.fhir/version "0.6.22",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-adheresTo",
         :type zen/map,
         :zen/desc "The action represented by this resource has been determined to satisfy the expectations established by the referenced Definition resource.",
         :keys {:canonical {:confirms #{hl7-fhir-r5-core.canonical/schema}},
                :Reference {:confirms #{hl7-fhir-r5-core.Reference/schema
                                        zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-r5-core.PlanDefinition/schema
                                                           hl7-fhir-r5-core.OperationDefinition/schema
                                                           hl7-fhir-r5-core.ActivityDefinition/schema
                                                           hl7-fhir-r5-core.Measure/schema
                                                           hl7-fhir-r5-core.Questionnaire/schema}}},
                :uri {:confirms #{hl7-fhir-r5-core.uri/schema}}},
         :exclusive-keys #{#{:canonical :uri :Reference}}}}
