{ns hl7-fhir-uv-extensions-r5.workflow-protectiveFactor,
 import #{hl7-fhir-r5-core.CodeableReference
          zen.fhir
          hl7-fhir-uv-extensions-r5.value-set.protective-factor},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Characteristics or strengths of individuals, families, community situations or societies that mitigate risks and promote positivewell-being and healthy development; attributes that help to successfully navigate difficult situations; factors that may contribute to or explain positive outcomes.  A trait or habit that \"protects\" people and makes them less likely to get a chronic disease that include, but are not limited to exercise, healthy eating, managing weight, managing blood pressure and cholesterol, managing mental health,  feeling happy, strong emotional support and social connections.",
         :zen.fhir/type "CodeableReference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-protectiveFactor",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r5-core.CodeableReference/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r5.value-set.protective-factor/value-set,
                              :strength :example}}}
