{ns hl7-fhir-uv-extensions-r5.value-set.coding-purpose,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The reason a coding is present.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/coding-purpose",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/coding-purpose",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-extensions-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
