{ns hl7-fhir-uv-extensions-r5.value-set.knowledge-capability,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A capability afforded by a knowledge artifact, e.g. shareable, computable, publishable, executable",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/knowledge-capability",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/knowledge-capability",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-extensions-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
