{ns hl7-fhir-uv-extensions-r5.value-set.standards-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Description Needed Here",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/standards-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/standards-status",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-extensions-r5",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
