{ns hl7-fhir-uv-extensions-r5.search.valueset-extensions-ValueSet-end,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "valueset-extensions-ValueSet-end",
         :fhir/url "http://hl7.org/fhir/SearchParameter/valueset-extensions-ValueSet-end",
         :fhir/type "date",
         :name "end",
         :expr {:ValueSet {:knife [],
                           :jsonpath [],
                           :data-types #{},
                           :template :date,
                           :sql {:where [:or]}}}}}
