{ns hl7-fhir-uv-extensions-r5.search.workflow-researchStudy,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "workflow-researchStudy",
         :fhir/url "http://hl7.org/fhir/SearchParameter/workflow-researchStudy",
         :fhir/type "reference",
         :name "researchStudy",
         :expr {:ServiceRequest {:knife [],
                                 :jsonpath [],
                                 :data-types #{},
                                 :template :reference},
                :Observation {:knife [],
                              :jsonpath [],
                              :data-types #{},
                              :template :reference},
                :QuestionnaireResponse {:knife [],
                                        :jsonpath [],
                                        :data-types #{},
                                        :template :reference},
                :SupplyDelivery {:knife [],
                                 :jsonpath [],
                                 :data-types #{},
                                 :template :reference},
                :MedicationAdministration {:knife [],
                                           :jsonpath [],
                                           :data-types #{},
                                           :template :reference},
                :DocumentReference {:knife [],
                                    :jsonpath [],
                                    :data-types #{},
                                    :template :reference},
                :FamilyMemberHistory {:knife [],
                                      :jsonpath [],
                                      :data-types #{},
                                      :template :reference},
                :Composition {:knife [],
                              :jsonpath [],
                              :data-types #{},
                              :template :reference},
                :MedicationDispense {:knife [],
                                     :jsonpath [],
                                     :data-types #{},
                                     :template :reference},
                :DiagnosticReport {:knife [],
                                   :jsonpath [],
                                   :data-types #{},
                                   :template :reference},
                :Immunization {:knife [],
                               :jsonpath [],
                               :data-types #{},
                               :template :reference},
                :MedicationStatement {:knife [],
                                      :jsonpath [],
                                      :data-types #{},
                                      :template :reference},
                :Task {:knife [],
                       :jsonpath [],
                       :data-types #{},
                       :template :reference},
                :DeviceUsage {:knife [],
                              :jsonpath [],
                              :data-types #{},
                              :template :reference},
                :Encounter {:knife [],
                            :jsonpath [],
                            :data-types #{},
                            :template :reference},
                :RiskAssessment {:knife [],
                                 :jsonpath [],
                                 :data-types #{},
                                 :template :reference},
                :Procedure {:knife [],
                            :jsonpath [],
                            :data-types #{},
                            :template :reference},
                :Consent {:knife [],
                          :jsonpath [],
                          :data-types #{},
                          :template :reference}}}}
